<div class="navbar">
        <div class="nav-left">
            <h2 class="logo">VERCENT</h2>
        </div>
        <div class="nav-right">
            <button class="login-btn">LOGIN</button>
            <button class="signup-btn">Sign Up</button>
        </div>
    </div>