<% layout("./layouts/boilerplate.ejs") -%>

<div class="container">
<h1>Create Module</h1>

<form action="/vercent" method="POST">

<input type="text" name="title" placeholder="Title" required>
<br><br>

<input type="text" name="description" placeholder="Description">
<br><br>

<textarea name="ProblemStatement" placeholder="Problem Statement"></textarea>
<br><br>

<button>Create</button>

</form>
</div>