/* body{
    font-family: Arial, sans-serif;
    background:#f5f5f5;
    margin:0;
    padding:20px;
}

h1{
    text-align:center;
}

.container{
    max-width:800px;
    margin:auto;
}

.card{
    background:white;
    padding:15px;
    margin-bottom:15px;
    border-radius:5px;
    border:1px solid #ddd;
}

button{
    padding:6px 12px;
    border:none;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

a{
    margin-right:10px;
}

input, textarea{
    width:100%;
    padding:8px;
    margin-top:5px;
    margin-bottom:10px;
}

.correct{
    background:#d1fae5;
}

.wrong{
    background:#fee2e2;
} */



/* css */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-color: #F0F0DB;
  font-family: Arial, sans-serif;
  color: #30364F;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 0 20px;

  background-color: #30364F;
  color: #F0F0DB;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: bold;
}

/* RIGHT */
.nav-right {
  display: flex;
  gap: 10px;
}

/* BUTTONS */
.login-btn {
  background: transparent;
  border: 1px solid #F0F0DB;
  color: #F0F0DB;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background: #F0F0DB;
  color: #30364F;
}

.signup-btn {
  background: #E1D9BC;
  color: #30364F;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.signup-btn:hover {
  background: #d6cfae;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;

  width: 240px;
  height: calc(100vh - 60px);

  background-color: #30364F;
  color: #F0F0DB;

  padding-top: 20px;
}

/* MENU */
.menu {
  list-style: none;
}

.menu-item {
  padding: 12px 20px;
  margin: 5px 10px;

  color: #ACBAC4;
  border-radius: 10px;

  cursor: pointer;
  transition: 0.2s;
}

/* HOVER */
.menu-item:hover {
  background-color: #E1D9BC;
  color: #30364F;
}

/* ACTIVE */
.menu-item.active {
  background-color: #E1D9BC;
  color: #30364F;
  font-weight: bold;
}

/* MAIN CONTENT */
.main-content {
  margin-top: 60px;
  margin-left: 240px;

  padding: 25px;
  min-height: calc(100vh - 60px);
}

/* FOOTER */
.footer {
  margin-left: 240px;
  background-color: #30364F;
  color: #ACBAC4;

  padding: 20px;
}

/* FOOTER LAYOUT */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ACBAC4;
  padding-top: 10px;
}
